*{
    padding: 0;
    margin: 0;
    border: 0;
}
 
input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
img{vertical-align: top;}

html,
body{
    height: 100%;
    line-height: 1.25rem;
    font-size: 1.25rem;
    color: #717171;
    font-family: 'Inter', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.body{
    margin: 0 auto;
    color: #000;
}
.wrapper{
    display: block;
    width: 80vw;
    margin: 0 auto;
    padding: 0 2rem;
}
.title{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.faq{
    max-width: 31.25rem;
    color: orange;
    transition: all 0.3s;
    margin: 1.25rem auto;
    box-shadow: 0rem 0.3rem 0.7rem 0.1rem #ccc;
}
@media (max-width: 500px) {
    .faq{
        max-width: 22.5rem;
    }
}
.faq-item{
    position: relative;
    padding: 1.57rem;
    border-top: solid 0.1rem #e6e6e6;
    cursor: pointer;
}
.faq:hover ~ .icon{
    visibility: visible;
}
.faq-title{
    display: block;
    cursor: pointer;
}
.faq:hover{
    color: #000;
    transition: 0.9s;
}
.faq-input{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
.faq-input:checked ~ .faq-img{
    display: block;
    transition: all 0.9s;
}
.faq-input:checked ~ .titl{
    color: #000;
}
.faq-item:checked~ .icon{
    transform: rotate(45deg);
    transition: transform .2s ease-in;
}
.icon{
    content: "+";
    visibility: hidden;
}
.faq:hover .icon{
    visibility: visible;
}
.faq-item:hover .icon{
    transform: rotate(45deg);
    transition: transform .2s ease-in;
}
.faq-img{
    padding: 30px 80px 0;
    cursor: pointer;
    display: none;
    transition: all .2s ease-in;
}
.faq-item:hover .faq-img{
    display: block;
    transition: all .2s ease-in;
}
.mem_img{
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
}
@media (min-width: 300px) {
    .mem_img{
        width: 12.5rem;
        height: 12.5rem;
    }
    .faq-img{
        padding: 0.94rem 0 0 0;
    }
    .title{
        font-size: 1rem;
    }
}
.titl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}